@{ Layout = "_LayoutMinimal"; }

@section custom_head {
	@await RenderSectionAsync("custom_head", required: false)
	@Html.Partial("_Favicons")
	<meta name="theme-color" content="#272b30">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine:bold" />
	@Html.Partial("_css_site")
	@await RenderSectionAsync("stylesheets", required: false)
	@await RenderSectionAsync("scripts_head", required: false)
}

@RenderBody()

<footer class="container-fluid">
	<div class="row copyright">
		<div class="col-12 text-center">
			<span>copyright &copy; @(DateTime.Now.Year) mike morano | all rights reserved</span>
		</div>
	</div>
</footer>

@Html.Partial("_js_Jquery")
@Html.Partial("_js_Bootstrap")
@await RenderSectionAsync("scripts_footer", required: false)
