@model SidebarModel

@{
    var generalClass = string.Equals(Model.Group, "general", StringComparison.OrdinalIgnoreCase) ? "show" : "collapse";
    var networkingClass = string.Equals(Model.Group, "networking", StringComparison.OrdinalIgnoreCase) ? "show" : "collapse";
    var binaryClockClass = string.Equals(Model.Group, "binaryclock", StringComparison.OrdinalIgnoreCase) ? "show" : "collapse";
    var learningClass = string.Equals(Model.Group, "learning", StringComparison.OrdinalIgnoreCase) ? "show" : "collapse";
    var dotnetClass = string.Equals(Model.Group, "dotnet", StringComparison.OrdinalIgnoreCase) ? "show" : "collapse";
}

<div id="sidebarAccordion" class="sidebar-accordion">
    <div class="card mb-2">
        <div class="card-header">
            <button class="btn btn-link btn-block text-left p-0" type="button"  data-toggle="collapse" data-target="#general">General</button>
        </div>
        <div id="general" class="@generalClass" data-parent="#sidebarAccordion">
            <div class="list-group list-group-flush">
                <a asp-controller="tools" asp-action="RollTheDice" maw-active="@string.Equals(Model.Item, "roll-the-dice", StringComparison.OrdinalIgnoreCase)">Roll the Dice</a>
                <a asp-controller="tools" asp-action="GoogleMaps" maw-active="@string.Equals(Model.Item, "google-maps", StringComparison.OrdinalIgnoreCase)">Google Maps</a>
                <a asp-controller="tools" asp-action="WeekendCountdown" maw-active="@string.Equals(Model.Item, "weekend-countdown", StringComparison.OrdinalIgnoreCase)">Weekend Countdown</a>
                <a asp-controller="tools" asp-action="Weather" maw-active="@string.Equals(Model.Item, "weather", StringComparison.OrdinalIgnoreCase)">Weather</a>
                <a asp-controller="tools" asp-action="BrowserHell" maw-active="@string.Equals(Model.Item, "browser-hell", StringComparison.OrdinalIgnoreCase)">Browser Hell</a>
                <a asp-controller="tools" asp-action="GpsConversion" maw-active="@string.Equals(Model.Item, "gps-conversion", StringComparison.OrdinalIgnoreCase)">GPS Conversion</a>
                <a asp-controller="tools" asp-action="GuidGen" maw-active="@string.Equals(Model.Item, "guid-gen", StringComparison.OrdinalIgnoreCase)">GUID Generator</a>
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <button class="btn btn-link btn-block text-left p-0" type="button"  data-toggle="collapse" data-target="#networking">Networking</button>
        </div>
        <div id="networking" class="@networkingClass" data-parent="#sidebarAccordion">
            <div class="list-group list-group-flush">
                <a asp-controller="tools" asp-action="NetworkingBandwidth" maw-active="@string.Equals(Model.Item, "networking-bandwidth", StringComparison.OrdinalIgnoreCase)">Bandwidth Calculator</a>
                <a asp-controller="tools" asp-action="NetworkingFileSize" maw-active="@string.Equals(Model.Item, "networking-file-size", StringComparison.OrdinalIgnoreCase)">File Size</a>
                <a asp-controller="tools" asp-action="NetworkingTime" maw-active="@string.Equals(Model.Item, "networking-time", StringComparison.OrdinalIgnoreCase)">Time</a>
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <button class="btn btn-link btn-block text-left p-0" type="button" data-toggle="collapse" data-target="#binaryClock">Binary Clock</button>
        </div>
        <div id="binaryClock" class="@binaryClockClass" data-parent="#sidebarAccordion">
            <div class="list-group list-group-flush">
                <a asp-controller="tools" asp-action="BinaryClock" maw-active="@string.Equals(Model.Item, "binary-clock", StringComparison.OrdinalIgnoreCase)">Binary Clock</a>
                <a asp-controller="tools" asp-action="BinaryClockAbout" maw-active="@string.Equals(Model.Item, "binary-clock-about", StringComparison.OrdinalIgnoreCase)">About Binary Clock</a>
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <button class="btn btn-link btn-block text-left p-0" type="button" data-toggle="collapse" data-target="#dotnet">.Net</button>
        </div>
        <div id="dotnet" class="@dotnetClass" data-parent="#sidebarAccordion">
            <div class="list-group list-group-flush">
                <a asp-controller="tools" asp-action="DotnetRegex" maw-active="@string.Equals(Model.Item, "dotnet-regex", StringComparison.OrdinalIgnoreCase)">Regular Expressions</a>
                <a asp-controller="tools" asp-action="DotnetFormattingDates" maw-active="@string.Equals(Model.Item, "dotnet-formatting-dates", StringComparison.OrdinalIgnoreCase)">Date Formatting</a>
                <a asp-controller="tools" asp-action="DotnetFormattingNumbers" maw-active="@string.Equals(Model.Item, "dotnet-formatting-numbers", StringComparison.OrdinalIgnoreCase)">Number Formatting</a>
                <a asp-controller="tools" asp-action="ByteCounter" maw-active="@string.Equals(Model.Item, "byte-counter", StringComparison.OrdinalIgnoreCase)">Byte Counter</a>
                <a asp-controller="tools" asp-action="DateDiff" maw-active="@string.Equals(Model.Item, "date-diff", StringComparison.OrdinalIgnoreCase)">Date Difference</a>
                <a asp-controller="tools" asp-action="ColorConverter" maw-active="@string.Equals(Model.Item, "color-converter", StringComparison.OrdinalIgnoreCase)">Color Converter</a>
                <a asp-controller="tools" asp-action="HtmlEncode" maw-active="@string.Equals(Model.Item, "html-encode", StringComparison.OrdinalIgnoreCase)">HTML Encode / Decode</a>
                <a asp-controller="tools" asp-action="Paths" maw-active="@string.Equals(Model.Item, "paths", StringComparison.OrdinalIgnoreCase)">Paths</a>
                <a asp-controller="tools" asp-action="RandomBytes" maw-active="@string.Equals(Model.Item, "random-bytes", StringComparison.OrdinalIgnoreCase)">Random Bytes</a>
                <a asp-controller="tools" asp-action="UrlEncode" maw-active="@string.Equals(Model.Item, "url-encode", StringComparison.OrdinalIgnoreCase)">URL Encode / Decode</a>
                <a asp-controller="tools" asp-action="XmlValidate" maw-active="@string.Equals(Model.Item, "xml-validate", StringComparison.OrdinalIgnoreCase)">XML Validator</a>
                <a asp-controller="tools" asp-action="XsdValidate" maw-active="@string.Equals(Model.Item, "xsd-validate", StringComparison.OrdinalIgnoreCase)">XSD Validator</a>
                <a asp-controller="tools" asp-action="XslTransform" maw-active="@string.Equals(Model.Item, "xsl-transform", StringComparison.OrdinalIgnoreCase)">XSL Transform</a>
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header">
            <button class="btn btn-link btn-block text-left p-0" type="button" data-toggle="collapse" data-target="#learning">Learning</button>
        </div>
        <div id="learning" class="@learningClass" data-parent="#sidebarAccordion">
            <div class="list-group list-group-flush">
                <a asp-controller="tools" asp-action="Learning" maw-active="@string.Equals(Model.Item, "learning", StringComparison.OrdinalIgnoreCase)">Letters and Numbers</a>
            </div>
        </div>
    </div>
</div>
