@using MawMvcApp.ViewModels.Gps
@model GpsConversionModel
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | gps converter";
}

@if(Model == null) {
    throw new InvalidOperationException("Model should not be null!");
}

@section header {
    <h1>GPS Conversions</h1>
}

@section sidebar {
    @{
        var sidebarModel = new SidebarModel() { Group = "general", Item = "gps-conversion" };
    }
    <partial name="_ToolSidebar" model="sidebarModel" />
}

<p>
This page allows you to convert between different GPS coordinate representations.
</p>

@if(!Html.ViewData.ModelState.IsValid) {
    <div class="alert alert-danger">
        Please fix the errors listed below:
    </div>
    <div class="text-danger" asp-validation-summary="All"></div>
}

<form asp-controller="tools" asp-action="gpsconversion" method="post" autocomplete="off" role="form">
    <div class="card mb-4">
        <div class="card-header">
	        <strong class="card-title">Degrees Minutes Seconds Format</strong>
	    </div>
	    <div class="card-body">
            <input type="hidden" name="ConversionMode" value="@GpsConversionMode.FromDegreesMinutesSeconds" />
            <div class="row">
                <label class="offset-2 col-2 form-label">Degrees</label>
                <label class="col-2 form-label">Minutes</label>
                <label class="col-2 form-label">Seconds</label>
                <label class="col-2 form-label">Reference</label>
                <label class="col-2 form-label">Formatted</label>
            </div>
            <div class="row d-flex align-items-center">
                <label class="col-2 col-form-label">Latitude</label>
                <div class="col-2">
                    <input asp-for="DmsLatDegrees" class="form-control form-control-sm" step="any" autofocus="" />
                </div>
                <div class="col-2">
                    <input asp-for="DmsLatMinutes" class="form-control form-control-sm" step="any" />
                </div>
                <div class="col-2">
                    <input asp-for="DmsLatSeconds" class="form-control form-control-sm" step="any" />
                </div>
                <div class="col-2">
                    <select class="form-control form-control-sm w-100" asp-for="DmsLatReference" asp-items="Html.GetEnumSelectList<LatitudeReference>()"></select>
                </div>
                <label class="col-2 col-form-label">@Model.DmsLatString</label>
            </div>
            <div class="row mb-3 d-flex align-items-center">
                <label class="col-2 col-form-label">Longitude</label>
                <div class="col-2">
                    <input asp-for="DmsLngDegrees" class="form-control form-control-sm" step="any" />
                </div>
                <div class="col-2">
                    <input asp-for="DmsLngMinutes" class="form-control form-control-sm" step="any" />
                </div>
                <div class="col-2">
                    <input asp-for="DmsLngSeconds" class="form-control form-control-sm" step="any" />
                </div>
                <div class="col-2">
                    <select class="form-control form-control-sm w-100" asp-for="DmsLngReference" asp-items="Html.GetEnumSelectList<LongitudeReference>()"></select>
                </div>
                <label class="col-2 col-form-label">@Model.DmsLngString</label>
            </div>

            <div class="row mb-1">
                <div class="offset-2 col">
                    <button type="submit" class="btn btn-primary">Convert From Degrees, Minutes and Seconds</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-controller="tools" asp-action="gpsconversion" method="post" autocomplete="off" role="form">
	<div class="card mb-4">
        <div class="card-header">
	        <strong class="card-title">Degrees Minutes Format</strong>
	    </div>
	    <div class="card-body">
        	<input type="hidden" name="ConversionMode" value="@GpsConversionMode.FromDegreesMinutes" />
    	    <div class="row">
    			<label class="offset-2 col-2 form-label">Degrees</label>
    			<label class="col-2 form-label">Minutes</label>
    			<label class="col-2 form-label">Reference</label>
    			<label class="col-4 form-label">Formatted</label>
    		</div>
            <div class="row d-flex align-items-center">
    		    <label class="col-2 col-form-label">Latitude</label>
                <div class="col-2">
                    <input asp-for="DmLatDegrees" class="form-control form-control-sm" step="any" />
                </div>
                <div class="col-2">
                    <input asp-for="DmLatMinutes" class="form-control form-control-sm" step="any" />
                </div>
                <div class="col-2">
                    <select class="form-control form-control-sm w-100" asp-for="DmLatReference" asp-items="Html.GetEnumSelectList<LatitudeReference>()"></select>
                </div>
    			<label class="col-4 col-form-label">@Model.DmLatString</label>
    		</div>
            <div class="row mb-3 d-flex align-items-center">
    		    <label class="col-2 col-form-label">Longitude</label>
                <div class="col-2">
                    <input asp-for="DmLngDegrees" class="form-control form-control-sm" step="any" />
                </div>
                <div class="col-2">
                    <input asp-for="DmLngMinutes" class="form-control form-control-sm" step="any" />
                </div>
                <div class="col-2">
                    <select class="form-control form-control-sm w-100" asp-for="DmLngReference" asp-items="Html.GetEnumSelectList<LongitudeReference>()"></select>
                </div>
    			<label class="col-4 col-form-label">@Model.DmLngString</label>
    		</div>

            <div class="row mb-1">
                <div class="offset-2 col-10">
                    <button type="submit" class="btn btn-primary">Convert From Degrees and Minutes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-controller="tools" asp-action="gpsconversion" method="post" autocomplete="off" role="form">
	<div class="card mb-4">
        <div class="card-header">
	        <strong class="card-title">Degrees Format</strong>
	    </div>
	    <div class="card-body">
        	<input type="hidden" name="ConversionMode" value="@GpsConversionMode.FromDegrees" />
    	    <div class="row">
    			<label class="offset-2 col-2 form-label">Degrees</label>
    			<label class="col-2 form-label">Reference</label>
    			<label class="col-2 form-label">Formatted</label>
    		</div>
            <div class="row d-flex align-items-center">
    		    <label class="col-2 col-form-label">Latitude</label>
                <div class="col-2">
                    <input asp-for="DLatDegrees" class="form-control form-control-sm" step="any" />
                </div>
                <div class="col-2">
                    <select class="form-control form-control-sm w-100" asp-for="DLatReference" asp-items="Html.GetEnumSelectList<LatitudeReference>()"></select>
                </div>
    			<label class="col-6 col-form-label">@Model.DLatString</label>
    		</div>
            <div class="row mb-3 d-flex align-items-center">
    		    <label class="col-2 col-form-label">Longitude</label>
                <div class="col-2">
                    <input asp-for="DLngDegrees" class="form-control form-control-sm" step="any" />
                </div>
                <div class="col-2">
                    <select class="form-control form-control-sm w-100" asp-for="DLngReference" asp-items="Html.GetEnumSelectList<LongitudeReference>()"></select>
                </div>
    			<label class="col-6 col-form-label">@Model.DLngString</label>
    		</div>

            <div class="row mb-1">
                <div class="offset-2 col-10">
                    <button type="submit" class="btn btn-primary">Convert from Degrees</button>
                </div>
            </div>
        </div>
	</div>
</form>
