@using MawAuth.ViewModels.Admin
@model IEnumerable<ManageUserModel>
@{ ViewBag.Title = "admin | manage users"; }

<h1>Manage Users</h1>

<table class="table table-responsive table-striped table-hover table-sm">
	<thead>
		<tr>
			<th>Username</th>
            <th>Name</th>
            <th>Last Login</th>
			<th>Profile</th>
			<th>Roles</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
	@foreach(var user in Model) {
		<tr>
			<td>@user.Username</td>
            <td>@user.FirstName @user.LastName</td>
            <td>@user.LastLoginDate</td>
			<td><a asp-controller="admin" asp-action="editprofile" asp-route-id="@user.Username">Edit</a></td>
			<td><a asp-controller="admin" asp-action="managerolesforuser" asp-route-id="@user.Username">Edit</a></td>
			<td><a asp-controller="admin" asp-action="deleteuser" asp-route-id="@user.Username">Delete</a></td>
		</tr>
	}
	</tbody>
</table>
