@using MawMvcApp.ViewComponents
@model PrimaryNavViewModel

@if(Model == null) {
    throw new InvalidOperationException("Model should not be null!");
}

<ul class="navbar-nav me-auto">
    <li class="nav-item" maw-action="Index" maw-controller="About" maw-text="about" maw-active="@Model.ActiveNavigationZone == NavigationZone.About"></li>
    <li class="nav-item" maw-action="Index" maw-controller="Reference" maw-text="reference" maw-active="@Model.ActiveNavigationZone == NavigationZone.Reference"></li>
    <li class="nav-item" maw-action="Index" maw-controller="Tools" maw-text="tools" maw-active="@Model.ActiveNavigationZone == NavigationZone.Tools"></li>
    <li class="nav-item" maw-action="Index" maw-controller="Games" maw-text="games" maw-active="@Model.ActiveNavigationZone == NavigationZone.Games"></li>
    <li class="nav-item" maw-action="Index" maw-controller="Webgl" maw-text="webgl" maw-active="@Model.ActiveNavigationZone == NavigationZone.Webgl"></li>

    <li class="nav-item">
        <a class="nav-link px-3 remove-focus-on-click" href="@Model.UrlConfig.Photos" target="_blank" rel="noopener"><svg-icon icon="Camera"></svg-icon></a>
    </li>

    <li class="nav-item">
        <a class="nav-link px-3 remove-focus-on-click" href="@Model.UrlConfig.Files" target="_blank" rel="noopener"><svg-icon icon="Upload"></svg-icon></a>
    </li>

    @if(Model.AuthorizedForAdmin) {
        <li class="nav-item" maw-action="Index" maw-controller="Admin" maw-active="@Model.ActiveNavigationZone == NavigationZone.Administration">
            <svg-icon icon="Cog"></svg-icon>
        </li>
    }
</ul>
