@using MawMvcApp.ViewComponents
@model PrimaryNavViewModel

<ul class="nav navbar-nav">
    <li maw-action="Index" maw-controller="About" maw-text="about" maw-active="@Model.ActiveNavigationZone == NavigationZone.About"></li>
    <li maw-action="Index" maw-controller="Reference" maw-text="reference" maw-active="@Model.ActiveNavigationZone == NavigationZone.Reference"></li>
    <li maw-action="Index" maw-controller="Tools" maw-text="tools" maw-active="@Model.ActiveNavigationZone == NavigationZone.Tools"></li>
    <li maw-action="Index" maw-controller="Games" maw-text="games" maw-active="@Model.ActiveNavigationZone == NavigationZone.Games"></li>
    <li maw-action="Index" maw-controller="Webgl" maw-text="webgl" maw-active="@Model.ActiveNavigationZone == NavigationZone.Webgl"></li>

    @if(Model.AuthorizedForPhotos) {
        <li maw-action="Index" maw-controller="Photos" maw-icon="fa-camera" maw-route-extra="" maw-active="@Model.ActiveNavigationZone == NavigationZone.Photos"></li>
    }

	@if(Model.AuthorizedForVideos) {
        <li maw-action="Index" maw-controller="Videos" maw-icon="fa-video-camera" maw-route-extra="" maw-active="@Model.ActiveNavigationZone == NavigationZone.Videos"></li>
    }

    @if(Model.AuthorizedForAdmin) {
        <li maw-action="Index" maw-controller="Admin" maw-icon="fa-cog" maw-active="@Model.ActiveNavigationZone == NavigationZone.Administration"></li>
    }
</ul>