@model MawMvcApp.ViewModels.Tools.Dotnet.DateDiff
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | date difference";
}

@section header {
    <h1>Date Difference Calculator</h1>
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "dotnet", Item = "date-diff" })
}

<form asp-controller="tools" asp-action="datediff" method="post" autocomplete="off" role="form">
	<div class="form-group row" maw-for="@Model.StartDate">
        <label asp-for="StartDate" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-5">
            <input asp-for="StartDate" class="form-control" autofocus="" />
            <span asp-validation-for="StartDate" class="form-text"></span>
        </div>
	</div>

    <div class="form-group row" maw-for="@Model.EndDate">
        <label asp-for="EndDate" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-5">
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="form-text"></span>
        </div>
	</div>

    <div class="form-group row">
        <div class="offset-sm-3 col-sm-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

@if(Model.ShowResults) {
	<h2>Results</h2>

    <p>
        Milliseconds: @Model.TotalMilliseconds.ToString("N2")
        <br/>
        Seconds: @Model.TotalSeconds.ToString("N2")
        <br/>
        Minutes: @Model.TotalMinutes.ToString("N2")
        <br/>
        Hours: @Model.TotalHours.ToString("N2")
        <br/>
        Days: @Model.TotalDays.ToString("N2")
        <br/>
        Weeks (days/7): @Model.TotalWeeks.ToString("N2")
        <br/>
        Months (days/30): @Model.TotalMonths.ToString("N2")
        <br/>
        Years (days/365.25): @Model.TotalYears.ToString("N2")
    </p>
}
