@using System.Text.RegularExpressions
@model MawMvcApp.ViewModels.Tools.Dotnet.RegexViewModel
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | .net regular expressions ";
}

@section header {
    <h1>.Net Regular Expressions</h1>
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "dotnet", Item = "dotnet-regex" })
}

<p>
 This tool will demonstrate if the input string results in a match based
 on the supplied regex.  Please note that both the sample text and regex
 will be trimmed before being used by the page.
</p>

<form asp-controller="tools" asp-action="dotnetregex" method="post" autocomplete="off" role="form">
	<div class="form-group row" maw-for="@Model.Pattern">
        <label asp-for="Pattern" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <textarea asp-for="Pattern" rows="8" class="form-control" autofocus=""></textarea>
            <span asp-validation-for="Pattern" class="form-text"></span>
        </div>
    </div>

    <div class="form-group row" maw-for="@Model.Input">
        <label asp-for="Input" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <textarea asp-for="Input" rows="8" class="form-control" autofocus=""></textarea>
            <span asp-validation-for="Input" class="form-text"></span>
        </div>
	</div>

    <div class="form-group row">
        <div class="offset-sm-3 col-sm-3">
            <label>
                <input type="checkbox" asp-for="OptionCultureInvariant" /> Culture Invariant
            </label>
        </div>
        <div class="col-sm-3">
            <label>
                <input type="checkbox" asp-for="OptionEcmaScript" /> ECMA Script
            </label>
        </div>
        <div class="col-sm-3">
            <label>
                <input type="checkbox" asp-for="OptionExplicitCapture" /> Explicit Capture
            </label>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-sm-3 col-sm-3">
            <label>
                <input type="checkbox" asp-for="OptionIgnoreCase" /> Ignore Case
            </label>
        </div>

        <div class="col-sm-3">
            <label>
                <input type="checkbox" asp-for="OptionIgnorePatternWhitespace" /> Ignore Pattern Whitespace
            </label>
        </div>

        <div class="col-sm-3">
            <label>
                <input type="checkbox" asp-for="OptionMultiline" /> Multiline
            </label>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-sm-3 col-sm-3">
            <label>
                <input type="checkbox" asp-for="OptionNone" /> None
            </label>
        </div>

        <div class="col-sm-3">
            <label>
                <input type="checkbox" asp-for="OptionRightToLeft" /> Right to Left
            </label>
        </div>

        <div class="col-sm-3">
            <label>
                <input type="checkbox" asp-for="OptionSingleLine" /> Single Line
            </label>
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-3 col-sm-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

@if(Model.RegexMatches != null) {
	string results = null;

	switch(Model.RegexMatches.Count) 	{
		case 0:
			results = "No matches found.";
			break;
		case 1:
			results = "1 match found.";
			break;
		default:
			results = string.Concat(Model.RegexMatches.Count, " matches found.");
			break;
	}

	<strong>@results</strong>

	<ul>
	@foreach(Match match in Model.RegexMatches) {
		<li>Match: @match.Value
		@if(match.Groups != null && match.Groups.Count > 0) {
			int groupid = 0;

			<ul>
			@foreach(Group group in match.Groups) {
				string name = string.Concat("[", groupid, " : ", Model.Regex.GroupNameFromNumber(groupid), "]");

				<li>Group: @name : @group.Value
				@if(group.Captures != null && group.Captures.Count > 1) {
					int captureid = 0;
					<ul>
					@foreach(Capture capture in group.Captures) {
						<li>Capture: @capture.Value</li>
						captureid++;
					}
					</ul>
				}
				</li>

				groupid++;
			}
			</ul>
		}
		</li>
	}
	</ul>
}