@model MawMvcApp.ViewModels.Tools.Dotnet.RandomBytesModel
@{
    Layout = "_LayoutSidebar";
    ViewBag.Title = "tools | random bytes";
}

@section header {
    <h1>Random Bytes</h1>
}

@section sidebar {
    @Html.Partial("_ToolSidebar", new SidebarModel() { Group = "dotnet", Item = "random-bytes" })
}

<p>
This page allows you to generate a list of random bytes.  I've created this after wanting a more random
sequence of bytes than manually typing these in, primarily for use in the machinekey section of the
web.config for this site.  Additionally, this uses a cryptographic random number generator, so it should
result in a good random value.
</p>

<form asp-controller="tools" asp-action="randombytes" method="post" autocomplete="off" role="form">
	<div class="form-group row" maw-for="@Model.Size">
        <label asp-for="Size" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-6">
            <input asp-for="Size" class="form-control" autofocus="" />
            <span asp-validation-for="Size" class="form-text"></span>
        </div>
	</div>

    <div class="form-group row">
        <div class="offset-sm-3 col-sm-2">
            <button  type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

@if(!string.IsNullOrEmpty(Model.RandomBytes)) {
    <h2>Results</h2>
    <div class="row">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.RandomBytes)
        </div>
        <div class="col-sm-9">
            @Html.TextAreaFor(m => m.RandomBytes, 5, 0, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.RandomBytesBase64)
        </div>
        <div class="col-sm-9">
            @Html.TextAreaFor(m => m.RandomBytesBase64, 5, 0, new { @class = "form-control" })
        </div>
    </div>
}
