@using MawMvcApp.ViewModels.Admin
@model ManageRolesForUserModel
@{ ViewBag.Title = "admin | manage roles for user"; }

@Html.Partial("_PageHeader", "Edit Role Membership")

@Html.Partial("_identityResult", new IdentityResultModel("user role assignments", Model.Result))

<p>Select what roles <strong>@Model.Username</strong> should belong to.</p>

<form asp-controller="admin" asp-action="managerolesforuser" method="post" class="form-horizontal" autocomplete="off" role="form">
	<input asp-for="Username" type="hidden" />

	<div class="row">
	    <div class="col-xs-6">
	        <div class="table-responsive">
			    <table class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th>Group</th>
							<th>Member</th>
						</tr>
					</thead>
					<tbody>
					@foreach(string role in Model.AllRoles) {
						<tr>
							<td>@role</td>
							<td><input type="checkbox" name="role" value="@role" @if(Model.GrantedRoles.Contains(@role)) { <text>CHECKED</text> } /></td>
						</tr>
					}
					</tbody>
				</table>
			</div>
	    </div>
	</div>
	<div class="form-group">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
	</div>
</form>
